.imagem {
    text-align: center;
    size: 10%;
}

#a /*esse ''espaço' + tag' fará o código ser aplicado em cada um dos p separado*/ p {
    background-color: rgb(55, 55, 255);
    color: white;
    /*padding é tipo um espaçamento: "The CSS padding properties are used to generate space around an element's content, inside of any defined borders." - (https://www.w3schools.com/css/css_padding.asp#:~:text=The%20CSS%20padding%20properties%20are,left%20padding%20of%20an%20element)*/
    padding: 8px;
    border-radius: 3px;
}
        table {
            width: 100%;
            font-family: Arial, sans-serif;
            font-size: 14px;
        }

        thead th {
            background-color: #2e43cc;
            color: rgb(8, 255, 90);
    /*padding é tipo um espaçamento: "The CSS padding properties are used to generate space around an element's content, inside of any defined borders." - (https://www.w3schools.com/css/css_padding.asp#:~:text=The%20CSS%20padding%20properties%20are,left%20padding%20of%20an%20element)*/
            padding: 12px;
            text-align: left;
        }
        .horario {
            text-align: right;
        }
        td {
            padding: 10px;
            border-bottom: 1px solid #eee;
            color: #333;
        }
        /*tr:hover faz com que a tabela mude de cor quando o mouse passa por cima.*/
        tr:hover {
            background-color: #f9f9f9;
        }